<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSRichTextEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D04F6F62110D2E80018A1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D04F70E2110D2E90018A1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D04F7192110D2E90018A1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
